.ext-smartaddressprotection {
  &-link {
    white-space: nowrap;

    &-highlight {
      padding: 2px;
      background: #f2eaac;
      color: #000;
      border: 1px solid #c7bc67;
    }

    &-no_highlight {
      padding: 0px;
      background: transparent;
      border: 1px solid transparent;
      color: inherit;
    }
  }

  &-warning {
    color: red;
    border-bottom: 1px dashed red;
  }

  &-note {
    font-size: 10pt;
    color: #c2c6c7;
    line-height: 10pt;

    &_network_diff {
      display: none;
      margin-top: 0.3em;
      padding-top: 1em;
      color: red;
      font-size: 10pt;
    }
  }
}

#ext-smartaddressprotection-popup {
  margin: 0;
  padding: 0px;
  font-family: "Arial";
  font-size: 12pt;
  width: 300px;

  #content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: url(/images/powered-by-mycrypto.png);
    background-size: 85%;
    background-position: bottom;
    background-repeat: no-repeat;

    #footer {
      padding-top: 4em;
      font-size: 70%;
    }
  }
}

#ext-smartaddressprotection-blacklist_domains_stats {
  font-size: 10pt;
  color: #c2c6c7;
  line-height: 10pt;
  padding-left: 3.5em;
  margin-bottom: 10px;
}

#ext-smartaddressprotection-report {
  margin-bottom: 20px;
  padding: 8px 20px 8px 17px;
  width: 100%;
  font-size: 10pt;
}

.ext-smartaddressprotection-center {
  text-align: center;
}

#ext-smartaddressprotection-bookmarks {
  margin-bottom: 10px;
}

.ext-smartaddressprotection-bookmark_icon {
  width: 16px;
  height: 16px;
  display: inline-block;

  &:hover {
    opacity: 0.5;
  }

  &:nth-child(2n) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

#ext-smartaddressprotection-bookmark_modify_window {
  display: none;
  color: #252428;
  margin-top: 5%;
  padding: 15px 5%;
  background: #e4e4e4;
}

.ext-smartaddressprotection-blockie {
  width: 1em;
  height: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: inset rgba(255, 255, 255, 0.6) 0 2px 2px,
    inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
  display: inline-block;
  margin-bottom: -0.2em;
}

#ext-smartaddressprotection-choose_blockchain {
  margin-top: 0;
  margin-bottom: 0;
}

/*Labels*/
@media print {
  .ext-smartaddressprotection-label {
    border: 1px solid #000;
  }
}

.ext-smartaddressprotection-label {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &[data-fill-label-input] {
    cursor: pointer;
  }
}

.ext-smartaddressprotection-label:empty {
  display: none;
}

.ext-smartaddressprotection-label-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

/*Popovers*/
.ext-smartaddressprotection-popover *,
.ext-smartaddressprotection-popover *::before,
.ext-smartaddressprotection-popover *::after {
  box-sizing: inherit;
}

.ext-smartaddressprotection-popover.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.ext-smartaddressprotection-popover.fade.show {
  opacity: 1;
}

.ext-smartaddressprotection-popover h3 {
  orphans: 3;
  widows: 3;
}

.ext-smartaddressprotection-popover h3 {
  page-break-after: avoid;
}

.ext-smartaddressprotection-popover h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.ext-smartaddressprotection-popover h3,
.h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.ext-smartaddressprotection-popover .close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1rem;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.ext-smartaddressprotection-popover .close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}

.ext-smartaddressprotection-popover button.close {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.ext-smartaddressprotection-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  padding: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.ext-smartaddressprotection-popover .arrow {
  position: absolute;
  display: block;
  width: 10px;
  height: 5px;
}

.ext-smartaddressprotection-popover .arrow::before,
.ext-smartaddressprotection-popover .arrow::after {
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
}

.ext-smartaddressprotection-popover .arrow::before {
  content: "";
  border-width: 11px;
}

.ext-smartaddressprotection-popover .arrow::after {
  content: "";
  border-width: 11px;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-top,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="top"] {
  margin-bottom: 10px;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-top
  .arrow,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="top"]
  .arrow {
  bottom: 0;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-top
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="top"]
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-top
  .arrow::after,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="top"]
  .arrow::after {
  border-bottom-width: 0;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-top
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="top"]
  .arrow::before {
  bottom: -11px;
  margin-left: -6px;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-top
  .arrow::after,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="top"]
  .arrow::after {
  bottom: -10px;
  margin-left: -6px;
  border-top-color: #fff;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-right,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="right"] {
  margin-left: 10px;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-right
  .arrow,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="right"]
  .arrow {
  left: 0;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-right
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="right"]
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-right
  .arrow::after,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="right"]
  .arrow::after {
  margin-top: -8px;
  border-left-width: 0;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-right
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="right"]
  .arrow::before {
  left: -11px;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-right
  .arrow::after,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="right"]
  .arrow::after {
  left: -10px;
  border-right-color: #fff;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-bottom,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="bottom"] {
  margin-top: 10px;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-bottom
  .arrow,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="bottom"]
  .arrow {
  top: 0;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-bottom
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="bottom"]
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-bottom
  .arrow::after,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="bottom"]
  .arrow::after {
  margin-left: -7px;
  border-top-width: 0;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-bottom
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="bottom"]
  .arrow::before {
  top: -11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-bottom
  .arrow::after,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="bottom"]
  .arrow::after {
  top: -10px;
  border-bottom-color: #fff;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-bottom
  .ext-smartaddressprotection-popover-header::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="bottom"]
  .ext-smartaddressprotection-popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 20px;
  margin-left: -10px;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-left,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="left"] {
  margin-right: 10px;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-left
  .arrow,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="left"]
  .arrow {
  right: 0;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-left
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="left"]
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-left
  .arrow::after,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="left"]
  .arrow::after {
  margin-top: -8px;
  border-right-width: 0;
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-left
  .arrow::before,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="left"]
  .arrow::before {
  right: -11px;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-left
  .arrow::after,
.ext-smartaddressprotection-popover.bs-ext-smartaddressprotection-popover-auto[x-placement^="left"]
  .arrow::after {
  right: -10px;
  border-left-color: #fff;
}

.ext-smartaddressprotection-popover-header {
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: 1rem;
  color: inherit;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.ext-smartaddressprotection-popover-header:empty {
  display: none;
}

.ext-smartaddressprotection-popover-body {
  padding: 9px 14px;
  color: #212529;
}

/*Tabs*/
.ext-smartaddressprotection-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none !important;
}

.ext-smartaddressprotection-nav li {
  list-style: none !important;
}

.ext-smartaddressprotection-nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.ext-smartaddressprotection-nav-link:focus,
.ext-smartaddressprotection-nav-link:hover {
  text-decoration: none;
}

.ext-smartaddressprotection-nav-link.disabled {
  color: #868e96;
}

.ext-smartaddressprotection-nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.ext-smartaddressprotection-nav-tabs .ext-smartaddressprotection-nav-item {
  margin-bottom: -1px;
  font-size: 10pt;
}

.ext-smartaddressprotection-nav-tabs .ext-smartaddressprotection-nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ext-smartaddressprotection-nav-tabs .ext-smartaddressprotection-nav-link:focus,
.ext-smartaddressprotection-nav-tabs
  .ext-smartaddressprotection-nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.ext-smartaddressprotection-nav-tabs
  .ext-smartaddressprotection-nav-link.disabled {
  color: #868e96;
  background-color: transparent;
  border-color: transparent;
}

.ext-smartaddressprotection-nav-tabs
  .ext-smartaddressprotection-nav-link.active,
.ext-smartaddressprotection-nav-tabs
  .ext-smartaddressprotection-nav-item.show
  .ext-smartaddressprotection-nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.ext-smartaddressprotection-nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ext-smartaddressprotection-tab-content > .ext-smartaddressprotection-tab-pane {
  display: none;
  font-size: 10pt;
}

.ext-smartaddressprotection-tab-content > .active {
  display: block;
}

.ext-smartaddressprotection-tab-content .fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.ext-smartaddressprotection-tab-content .fade.show {
  opacity: 1;
}

.ext-smartaddressprotection-tab-content.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

#ext-smartaddressprotection-chain_lookup_container button {
  width: 100%;
}

#ext-smartaddressprotection-chain_lookup_output {
  width: 100%;
  font-size: 80%;
  word-break: break-word;

  .error {
    color: #ed2e2e;
  }

  .blockie {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    border-radius: 50%;
  }

  #additional_details {
    padding-top: 1em;
  }
}

#ext-smartaddressprotection-new-labels option {
  color: #ffffff;
}

#ext-smartaddressprotection-new-labels button {
  width: 100%;
}

.ext-smartaddressprotection-address_stats_hover {
  $root: &;

  z-index: 10;
  position: absolute;
  user-select: none;

  #{&}_content {
    all: initial;
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    top: 10%;
    background-color: #fff;
    color: #000;
    padding: 0.5em;
    z-index: 99999;
    width: 275px;
    height: 120px;
    border: 2px solid #e4e4e4;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;

    .ext-smartaddressprotection-0xaddress.ext-smartaddressprotection-display-popup
      > & {
      display: inline-block;
    }

    > span {
      all: initial;
      font-size: 10pt;
      text-decoration: none;
      font-style: normal;
      font-family: "Verdana";
      display: block;
      line-height: 2em;
      user-select: none;
    }

    > a > img {
      display: inline;
      width: 100px;
      height: 22px;
      bottom: 0%;
      right: 5%;
      position: absolute;
      margin: 0;
    }
  }

  #{&}_node_error {
    all: initial;
    user-select: none;
    background: #d02626;
    border-radius: 5em;
    height: 10px;
    width: auto;
    position: absolute;
    right: 5%;
    display: none;
    z-index: 2;
    color: #fff;
    padding: 3px;
    font-size: 8pt;
    clear: both;
  }

  #{&}_node_ok {
    all: initial;
    user-select: none;
    background: #32a735;
    border-radius: 5em;
    height: 10px;
    width: auto;
    position: absolute;
    right: 5%;
    display: none;
    z-index: 2;
    color: #fff;
    padding: 3px;
    font-size: 8pt;
    clear: both;
  }
}

#ext-smartaddressprotection-tip_box {
  background: #00c2c1;
  padding: 1px;
  color: #fff;

  a {
    color: #fff;
    text-decoration: underline;
  }
}
